html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.home-container {
  height: 100vh;
  background-image: url("../public/assets/corona.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.display-n{
  display: none;
}
.success-container {
  height: 100vh;
  background-image: linear-gradient(165deg, #070614, #1c154f, #070614);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: blueviolet;
}
.success-image {
  max-width: 50vh;
}
.success-text {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.send-tip-card {
  background-color: #000000 !important;
  color: white;
  padding: 5%;
  margin: 5px;
  border-radius: 15px !important;
}
.input-box {
  background-color: #2a2938 !important;
  color: white !important;
}
.btn-mobile {
  margin-top: 5% !important;
}
.send-tip-button {
  height: 50px !important;
  margin-top: 5% !important;
  width: 100%;
  border-radius: 2rem !important;
  background-color: #6050dc !important;
  color: white !important;
  font-weight: bold !important;
  margin-top: 0;
}
.form-control {
  border: 0 !important;
}

textarea {
  height: 140px !important;
  resize: none !important;
}

.send-tip-again-btn {
  height: 50px !important;
  margin-top: 5%;
  max-width: 60%;
  width: 100%;
  border-radius: 2rem !important;
  background-color: #6050dc !important;
  color: white !important;
  font-weight: bold !important;
  margin-top: 0;
}
.send-tip-text {
  /* font-family: Open Sans; */
  font-style: Bold;
  font-size: 30px;
  line-height: 44px;
  line-height: 100%;
  vertical-align: Top;
  line-height: 45px;
}
.send-tip-title {
  font-style: Regular;
  font-size: 45px;
  font-weight: bold;
}
.fund-alert {
  background-color: #05050c !important;
  color: #ff5b6d;
}
.tip-row {
  padding-top: 2%;
}
.success-row {
  padding-top: 6% !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .send-tip-again-btn {
    max-width: 100%;
  }
  .success-header {
    margin-bottom: 20%;
  }
  .tip-row {
    padding-top: 5%;
  }
  .success-image {
    max-width: 30vh;
  }
  .success-row {
    padding-top: 20% !important;
  }
  .home-container {
    height: 90vh;
  }
  .success-container {
    height: 90vh;
  }


}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color : #fff;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
